img.logo {
	max-width: 100px;
	padding-left: 10px;
	padding-top: 12px;
}

nav a {
	color: #000 !important;
}

nav ul a:hover {
	background-color: rgba(255, 0, 0, 0.8) !important;
	color: white !important;
}

span.badge {
	float: left !important;
	margin-left: 0px !important;
	min-width: 6rem !important;
}

table.striped > tbody > tr:nth-child(odd) {
	background-color: #eceff1 !important;
}

table.highlight > tbody > tr:hover {
	background-color: #ffcdd2 !important;
	cursor:pointer;
}

.btn {
	background-color: #d32f2f !important;
}

.dropdown-content li>span {
	color: #B579A1 !important;
}

.table-container {
	padding: 10px;
}

.row .col.l2 {
	margin-left: 0px !important;
}

.row {
	margin-bottom: auto !important;
}

textarea.materialize-textarea {
	height: auto !important;
}